

    <div class="container mt-5">
        <h3 class="center-align">Welcome {{name}}</h3>

        <ul class="collapsible">
            {{#each stories}}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">arrow_drop_down</i>
                        {{title}}
                        <span class="new badge blue" data-badge-caption="{{status}}"></span>
                        <a href="/stories/edit/{{_id}}" class="secondary-content"><i class="material-icons">edit</i></a>
                        <a href="#deleteModal{{_id}}" class="secondary-content modal-trigger red-text"><i class="material-icons">delete</i></a>
                    </div>
                    <div class="collapsible-body">
                        <p>Date: {{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</p>
                        <p>Status: <span class="new badge blue" data-badge-caption="{{status}}"></p>
                    </div>
                </li>

                <!-- Delete Modal -->
                <div id="deleteModal{{_id}}" class="modal">
                    <div class="modal-content">
                        <h4 class="center-align">Delete Confirmation</h4>
                        <p class="center-align">Are you sure you want to delete "{{title}}"?</p>
                    </div>
                    <div class="modal-footer center-align">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                        <form action="/stories/{{_id}}" method="POST" class="inline-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="waves-effect waves-light btn red">Delete</button>
                        </form>
                    </div>
                </div>
            {{/each}}
        </ul>

        {{#unless stories}}
            <p class="center-align mt-4">You have not created any stories</p>
        {{/unless}}
    </div>
