{{#if msg}}
  <div class="row">
    <div class="input-field warning">
      <span class="icon">⚠️</span>
      <span class="message">{{msg}}</span>
    </div>
  </div>
{{/if}}

{{#if sucessmsg}}
  <div class="success-message">
    <div class="success-icon">✔️</div>
    <div class="success-text">{{sucessmsg}}</div>
  </div>
{{/if}}

<!-- ... previous code ... -->

<div class="container">
  <div class="row">
    <form action="/upload" method="POST" enctype="multipart/form-data" class="special-form">
      <label for="image-upload" class="profile-picture">
        <img id="uploaded-image" class="responsive-img circle" src="{{getImageUrl image}}" alt="Uploaded Image">
        <div class="overlay">Upload Photo</div>
      </label>
      <div class="file-path-wrapper" >
        <input class="file-path validate" type="text" placeholder="Choose a photo" readonly hidden>
      </div>
      <input type="file" name="myImage" id="image-upload" accept="image/*" hidden>
      <input type="submit" value="Save New Photo" class="btn submit-btn">
    </form>
  </div>
</div>

<!-- ... rest of the code ... -->
<script type="text/javascript">
document.getElementById('image-upload').addEventListener('change', function() {
  const file = this.files[0];
  if (file) {
      const reader = new FileReader();

      reader.onload = function(e) {
          const img = document.getElementById('uploaded-image');
          img.src = e.target.result;
      }

      reader.readAsDataURL(file);
  }
});

</script>


<div class="row">
  <form action="/bio" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
        <div class="input-field">
            <h5>Add Your Bio:</h5>
            <textarea id="body" name="bio">{{bio}}</textarea>
        </div>
    </div>
    <div class="row">
      <input type="submit" value="Add Your bio" class="btn">
    </div>
  </form>
</div>
<div class="row">
  <form action="/updateprofile" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
    <div class="input-field">
      <input type="text" id="firstName" name="firstName" value="{{firstName}}">
      <label for="firstName">First Name</label>
    </div>
    <div class="input-field">
      <input type="text" id="lastName" name="lastName" value="{{lastName}}">
      <label for="lastName">Last Name</label>
    </div>
    <div class="input-field">
      <input type="text" id="email" name="email" value="{{email}}" readonly disabled>
      <label for="email">E-mail</label>
    </div>
    <div class="row">
      <input type="submit" value="Update Profile" class="btn">
    </div>
  </form>
</div>
{{#if local}}
<div class="row">
  <form action="/updatepassword" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
    <div class="input-field">
      <input type="password" id="curpassword" name="curpassword" value="">
      <label for="curpassword">Current Password</label>
    </div>
    <div class="input-field">
      <input type="password" id="newpassword" name="password" value="">
      <label for="newpassword">New Password</label>
    </div>
    <div class="input-field">
      <input type="password" id="password2" name="password2" value="">
      <label for="password2">Confirm New Password</label>
    </div>
    <div class="row">
      <input type="submit" value="Change Password" class="btn">
    </div>
  </form>
</div>
{{/if}}
